<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.NavyaLearning.Dev" id="dev" autowire="byName">
    </bean>






    <bean class="org.NavyaLearning.Laptop" id="com">
        <constructor-arg name="brand" value="Macbook"/>
    </bean>

    <bean class="org.NavyaLearning.Desktop" id="deskyy" primary="true">
        <constructor-arg name="brand" value="HP"/>
    </bean>


</beans>